type hal_pa_fod_xiaomi_kona, coredomain, domain;
hal_server_domain(hal_pa_fod_xiaomi_kona, hal_pa_fod)

type hal_pa_fod_xiaomi_kona_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_pa_fod_xiaomi_kona)
